.attorneys-hero-container {
    margin-top: 120px;
    font-family: $font-family-one;
    background: url(/img/attorneysHero.png.JPG) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 3.2rem;
        font-family: $font-family-one;
        text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.5);
        animation: slideInFromTheLeft 2s ease-in-out;  
    }
}

.attorneys-container {
    // width: 100%;
    margin: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-family: $font-family-two;
        margin-bottom: 20px;
    }

    .bio-title {
        margin-bottom: 30px;
    }

   

    .profile-pic {
        overflow: hidden;
        border-radius: 50%;
        width: 350px;
        height: 350px;
        border:2px solid $btn-border-color ;

        &.female {
        background: url(/img/profile-female.png) no-repeat center center/cover;
        }

        &.male {
        background: url(/img/profile-male.png) no-repeat center center/cover;
        }

        img {
        width: 100%;
        }
    }

    .bio {
        padding: 50px;
        max-width: 700px;

         p {
        margin-bottom: 10px;
        }
    }

    .attorneys-sec-1 {
        background: $background-footer-gradient;
    }

    .attorneys-sec-2 {
        background-color: $background-footer-gradient;
    }
}