.attorneys-container {
    margin: 200px;
    display: flex;

   

   
    h2 {
        font-family: $font-family-two;
        margin-bottom: 20px;
    }

    .bio-title {
        margin-bottom: 30px;
    }

   

    .profile-pic {
        overflow: hidden;
        border-radius: 50%;
        width: 100%;

        img {
        width: 100%;
        size: cover;
        border:2px solid $btn-border-color ;

    }
    }

    .bio {
        padding: 50px;
        max-width: 700px;

         p {
        margin-bottom: 10px;
        }
    }

    .attorneys-sec-1 {
        background: $background-footer-gradient;
    }

    .attorneys-sec-2 {
        background-color: $background-footer-gradient;
    }
}