.calendly {
    margin: 100px 50px 0px 50px;
}

.contact-sec-2 {

    .card {
        background: $background-footer-gradient;
        margin: 50px 200px;
        // max-width: 1100px;
        padding: 50px;

        h1 {
            margin: auto;
            width: 50%;
            text-align: center;
            font-family: $font-family-two;
            font-size: 2.5em;
            font-weight: lighter;
            margin-bottom: 100px;
        }

        .inputs {
            margin: auto;
            width: 50%;
            // text-align: center;

            input {
                padding: 10px ;
                margin-bottom: 20px;
                margin-right: 20px;
                width: 100%;
                border-radius: 5px;

            }

            button {
                color: #fff;
                margin-top: 30px;
                width: 100%;
                text-transform: capitalize;
                border-radius: 5px;


            }
        }

        textarea {
            display: block;
            padding: 5px;
            width: 100%;
            border-radius: 5px;

        }

        .links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 50px;

            // height: 200px;

            a {
                margin: 5px;
            }

            .emails {
                display: flex;
                flex-direction: column;
                margin-right: 60px;
            }

            .address-phone {
                // max-width: 100px;
                display: flex;
                flex-direction: column;
                // margin-left: 60px;

            }
        }
    }
}

