.sec-3 {
    background: url('/img/pg-1-sec-3background.png') no-repeat center center/cover;
    background-attachment: fixed;
    height: 80vh;
    display: grid;
    justify-content: space-around;

    img {
        width: 80px;
    }

    .cards {
        // change flex to block for small
        display: flex;
        align-items: center;
        justify-content: center;

    }

    %card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 30px;
        width: 225px;
        height: 220px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5), -5px 5px 10px rgba($color: #000000, $alpha: 0.5);

        img {
            padding: 20px 0;
        }

    }

    .card1 {
        @extend %card;
        background: $background-footer-gradient;
    }

    .card2 {
        @extend %card;
        background: $background-gradient;
    }

    .card3 {
        @extend %card;
        background: $background-footer-gradient;
    }
}