.practice-header {
    background-image: url(/img/practice-showcase.png);
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .practice-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 550px;
        max-width: 600px;
        text-align: center;
        font-family: $font-family-one;
        font-size: 1.2em;
        animation: fadeIn 2s ease-in-out;


        h1 {
            padding-bottom: 10px;
            margin-top: 50px;
            font-size: 1.5em;
        }

        p {
            line-height: 1.8rem;
            margin-bottom: 50px;
            font-size: 1em;
            font-family: $font-family-three;

        }
    }
}

// section

.practice-sec {
    margin-top: 150px;
    padding: 100px;
    background-color: $background-darker-gradient;

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    img {
        background-position: center;
        background-size: cover;
    }

    .card {
        background-color: black;
        border: 2px solid #fff;
        height: 200px;
        width: 300px;
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;

        h3 {
            font-weight: 200;
            font-size: 1.5em;
        }
    
    }

    // card background
    %card {
        background-position: center center;
        background-size: cover;

        &:hover {
            border: 3px solid $highlight2;
            transform: scale(1.2);
        }
    }

    .card1 {
        background-image: url(/img/PAimage1.jpg);
        @extend %card
    }

    .card2 {
        background-image: url(/img/PAimage2.jpg);
        @extend %card
        
    }

    .card3 {
        background-image: url(/img/PAimage3.jpg);
        @extend %card

    }

    .card4 {
        background-image: url(/img/PAimage4.jpg);
        @extend %card

    }

    .card5 {
        background-image: url(/img/PAimage5.jpg);
        @extend %card

    }

    .card6 {
        background-image: url(/img/PAimage6.jpg);
        @extend %card

    }

    .card7 {
        background-image: url(/img/PAimage7.jpg);
        @extend %card

    }

    .card8 {
        background-image: url(/img/PAimage8.jpg);
        @extend %card

    }

    .card9 {
        background-image: url(/img/PAimage9.jpg);
        @extend %card

    }

    .card10 {
        background-image: url(/img/PAimage10.jpg);
        @extend %card

    }

    .card11 {
        background-image: url(/img/PAimage11.jpg);
        @extend %card

    }

    .card12 {
        background-image: url(/img/PAimage12.jpg);
        @extend %card

    }
    .card13 {
        background-image: url(/img/PAimage13.jpg);
        @extend %card

    }

    .card14 {
        background-image: url(/img/PAimage14.jpg);
        @extend %card

    }

    .card15 {
        background-image: url(/img/PAimage15.jpg);
        @extend %card

    }

    .card16 {
        background-image: url(/img/PAimage16.jpg);
        @extend %card

    }

    .card17 {
        background-image: url(/img/PAimage17.jpg);
        @extend %card

    }
}