.resources-header {
    margin-top: 120px;
    background-image: url(/img/heroResources.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    font-size: 2rem;
    text-align: center;

    h1 {
        margin: 20px 0;
    }

    h3 {
        font-family: $font-family-three;
        font-weight: 400;
    }

    p {
        font-size: smaller;
        font-size: 1.5rem;
    }
}



.resources-sec {
    overflow: hidden;
    overflow-x: hidden;
    padding: 0 100px;


    .row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 80px 100px;


        %card {
            border: 1px solid #fff;
            border-radius: 20px;
            width: 400px;
            height: 250px;
            overflow: hidden;
            box-shadow: 2px 3px 8px rgba($color: rgb(0, 0, 0), $alpha: 0.8);
        }

        .card-1 {
            @extend %card;
            background: url(/img/resources1.jpg) no-repeat center center/cover
        }
        .card-2 {
            @extend %card;
            background: url(/img/resources2.jpg) no-repeat center center/cover
        }
        .card-3 {
            @extend %card;
            background: url(/img/resources3.jpg) no-repeat center center/cover
        }
        .card-4 {
            @extend %card;
            background: url(/img/resources4.jpg) no-repeat center center/cover
        }
        .card-5 {
            @extend %card;
            background: url(/img/resources5.jpg) no-repeat center center/cover
        }
        .card-6 {
            @extend %card;
            background: url(/img/resources6.jpg) no-repeat center center/cover
        }
        .card-7 {
            @extend %card;
            background: url(/img/resources7.jpg) no-repeat center center/cover
        }
        .card-8 {
            @extend %card;
            background: url(/img/resources8.jpg) no-repeat center center/cover
        }
        .card-9 {
            @extend %card;
            background: url(/img/resources9.jpg) no-repeat center center/cover
        }
        .card-10 {
            @extend %card;
            background: url(/img/resources10.jpg) no-repeat center center/cover
        }
        .card-11 {
            @extend %card;
            background: url(/img/resources11.jpeg) no-repeat center center/cover
        }

        .par {
            max-width: 500px;
            min-width: 300px;

            h3 {
                color: $highlight2;
                text-align: left;
                font-size: 1.5rem;
                letter-spacing: 2px;
                padding-bottom: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 50px;
                font-family: $font-family-three;

            }

            .btn {
            @extend %btn;
            text-transform: capitalize;
            box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.2);
            padding: 10px 20px;
            background: $highlight;
            border-radius: 10px;
        }
        }
    }
   
}