%btn {
    border: 1px solid $btn-border-color;
    padding: 10px;
    text-align: center;

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
        transition: trandform 0.2s ease-in-out;
    }

    &:active {
        transform: scale(0.98);
    }
}

.btn {
    padding: 10px;
}

.btn-solid {
    background: $highlight;
    border: 2px solid $btn-border-color;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 8px rgba(41, 41, 41, 0.5), 0 5px 8px rgba(41, 41, 41, 0.5);

    &:hover {
        border: 2px solid #fff;
        transform: scale(1.2);
        transition: trandform 0.5s ease-in-out;
    }
}

.btn-gradient-1 {
    @extend %btn;
    background: $background-gradient;
    border-radius: 10px;
}

.btn-gradient-2 {
    @extend %btn;
    background: $background-footer-gradient;
    border-radius: 10px;
}