// color vars
$Overlay-nav: rgba($color:#4c5c68, $alpha: 0.8);
$highlight: rgba($color:#01E8FE, $alpha: 0.5);

$background-gradient: linear-gradient(
    179deg,
    #090D10 30%,
    #1985A1);
    
$background-footer-gradient: linear-gradient(
    180deg,
    #090D10 30%,
    #05203BB5);

$background-darker-gradient: linear-gradient(
    180deg,
    #090D10 50%,
    #05203BB5);

$hightlightcolor: #00DFFF;
$overlaynav: #4C5C68;
$maintext: #F8F8F8;
$overlaynav2: #6C7E8B;
$whitecolor: #FFFFFF;
$herooverlay: #46494C;
$boxgrey: #707070;
$boxgrey2: #4C5C68;
$btn-border-color: #1985A1;
$highlight2: #01E8FE;

// font style vars

$font-family-one: 'adobe-garamond-pro', serif;
$font-family-two: 'copperplate', serif; 
$font-family-three: 'proxima-nova', sans-serif; 

// text shadow
$parTextShadow: 15px 15px 10px rgba($color:#000, $alpha: 0.9);